mat-container{
    background-image: url('../../../assets/img/fondo.jpg');
    background-color: #cccccc;    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;    
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    
}